@use './variables.scss' as *;

#jumbo {
    background-image: url('https://media.discordapp.net/attachments/1071838099073671259/1118919573895401494/unaltroDio_dark_blueprint_background_052cb6ab-bf93-4281-9ade-8c70379aeb07.png?width=1506&height=1506');
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: $blueprint_light;
    }

    p {
        color: $blueprint_secondary;
    }
}