@use './variables.scss' as *;

.navbar {
    background-color: $blueprint_nav;

    .navbar_logo {
        .navbar-brand {
            color: $blueprint_light;

            &:hover {
                color: $blueprint_light;
            }

        }

        .navbar-brand.router-link-active {
            color: $blueprint_light;
        }

        h3 {
            font-size: 2rem;
        }
    }

    .navbar_list {
        .nav-link {
            color: $blueprint_light;
            border-bottom: solid 3px transparent;

            &:hover {
                color: gold;
            }

            h4 {
                font-size: 1rem;
            }
        }

        .nav-link.router-link-active {
            color: cornflowerblue;
            border-bottom: solid 3px $blueprint_primary;
        }
    }

}