@use './variables' as *;

#projects_view {
    #project_card {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:hover {
            transform: scale(1.3);
            transition: 0.5s;
            z-index: 2;


            .card-body {
                color: $blueprint_light;
                background-color: #000000d8;
                transition: 0.5s;

                .card_body_bottom {
                    .badge {
                        color: $blueprint_dark;
                        background-color: gold;
                    }
                }
            }



            .card-footer {
                background-color: #000000d8;
                transition: 0.5s;

                .badge {
                    color: $blueprint_primary;
                    background-color: $blueprint_light;
                }
            }
        }

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .card_img {
            height: 10rem;
            z-index: 4;
        }

        .card-body {
            color: transparent;
            height: 15rem;


            .card_body_top {}

            .card_body_bottom {
                .badge {
                    color: transparent;
                }
            }
        }

        .card-footer {

            .badge {
                color: transparent;
            }

            #opacity {
                background-color: red;
                height: 100%;
            }
        }

    }
}