@use './variables.scss' as *;

#contacts_view {

    p {
        font-size: 1rem;
        color: $blueprint_dark;
    }

    form {
        small {
            color: $blueprint_primary;
        }
    }
}